@mixin namespace-component($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-component(' + $all + ')'} { @content; }
}
@mixin namespace-has($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-has(' + $all + ')'} { @content; }
}
@mixin namespace-when($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-when(' + $all + ')'} { @content; }
}
@mixin namespace-is($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-is(' + $all + ')'} { @content; }
}
@mixin namespace-inside($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-inside(' + $all + ')'} { @content; }
}
@mixin namespace-util($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-util(' + $all + ')'} { @content; }
}
@mixin namespace-container($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'namespace-container(' + $all + ')'} { @content; }
}
