new()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'new(' + join('\, ', s) + ')'}
    {block}
part()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'part(' + join('\, ', s) + ')'}
    {block}
option()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'option(' + join('\, ', s) + ')'}
    {block}
state()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'state(' + join('\, ', s) + ')'}
    {block}
area()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'area(' + join('\, ', s) + ')'}
    {block}
tweak()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'tweak(' + join('\, ', s) + ')'}
    {block}
container()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'container(' + join('\, ', s) + ')'}
    {block}
