new()
  {'new(' + join('\, ', arguments) + ')'}
    {block}
part()
  {'part(' + join('\, ', arguments) + ')'}
    {block}
option()
  {'option(' + join('\, ', arguments) + ')'}
    {block}
state()
  {'state(' + join('\, ', arguments) + ')'}
    {block}
area()
  {'area(' + join('\, ', arguments) + ')'}
    {block}
tweak()
  {'tweak(' + join('\, ', arguments) + ')'}
    {block}
container()
  {'container(' + join('\, ', arguments) + ')'}
    {block}