namespace-component()
  {'component(' + join('\, ', arguments) + ')'}
    {block}
namespace-has()
  {'has(' + join('\, ', arguments) + ')'}
    {block}
namespace-when()
  {'when(' + join('\, ', arguments) + ')'}
    {block}
namespace-is()
  {'is(' + join('\, ', arguments) + ')'}
    {block}
namespace-inside()
  {'inside(' + join('\, ', arguments) + ')'}
    {block}
namespace-util()
  {'util(' + join('\, ', arguments) + ')'}
    {block}
namespace-container()
  {'container(' + join('\, ', arguments) + ')'}
    {block}