@mixin component($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'component(' + $all + ')'} { @content; }
}
@mixin has($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'has(' + $all + ')'} { @content; }
}
@mixin when($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'when(' + $all + ')'} { @content; }
}
@mixin is($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'is(' + $all + ')'} { @content; }
}
@mixin inside($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'inside(' + $all + ')'} { @content; }
}
@mixin util($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'util(' + $all + ')'} { @content; }
}
@mixin container($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'container(' + $all + ')'} { @content; }
}
