component()
  {'component(' + join('\, ', arguments) + ')'}
    {block}
has()
  {'has(' + join('\, ', arguments) + ')'}
    {block}
when()
  {'when(' + join('\, ', arguments) + ')'}
    {block}
is()
  {'is(' + join('\, ', arguments) + ')'}
    {block}
inside()
  {'inside(' + join('\, ', arguments) + ')'}
    {block}
util()
  {'util(' + join('\, ', arguments) + ')'}
    {block}
container()
  {'container(' + join('\, ', arguments) + ')'}
    {block}