component()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'component(' + join('\, ', s) + ')'}
    {block}
has()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'has(' + join('\, ', s) + ')'}
    {block}
when()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'when(' + join('\, ', s) + ')'}
    {block}
is()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'is(' + join('\, ', s) + ')'}
    {block}
inside()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'inside(' + join('\, ', s) + ')'}
    {block}
util()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'util(' + join('\, ', s) + ')'}
    {block}
container()
  s = ()
  push(s, \' + arg + \') for arg in arguments
  {'container(' + join('\, ', s) + ')'}
    {block}
