@mixin new($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'new(' + $all + ')'} { @content; }
}
@mixin part($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'part(' + $all + ')'} { @content; }
}
@mixin option($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'option(' + $all + ')'} { @content; }
}
@mixin state($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'state(' + $all + ')'} { @content; }
}
@mixin area($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'area(' + $all + ')'} { @content; }
}
@mixin tweak($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'tweak(' + $all + ')'} { @content; }
}
@mixin container($names...) {
  $all: ();
  @each $name in $names {$all: append($all, unquote($name), comma)}
  #{'container(' + $all + ')'} { @content; }
}
